*.zip
*.rar

# mysql/
mysql/**/*.zip


# WebCrawler/
*.mp4
*.ts
*.mov

PythonSeries/WebCrawler/*.jpg
PythonSeries/WebCrawler/**/novel/*
PythonSeries/WebCrawler/**/novel/*.txt
PythonSeries/WebCrawler/**/img/
PythonSeries/WebCrawler/**/video*/
PythonSeries/WebCrawler/**/*.zip
PythonSeries/WebCrawler/**/*.rar

# Redis/
Redis/**/*.zip

/**/node_modules
