*.zip
*.rar

# mysql/
mysql/**/*.zip


# WebCrawler/
*.mp4
*.ts
*.mov

/**/WebCrawler/*.jpg
/**/WebCrawler/**/novel/*
/**/WebCrawler/**/novel/*.txt
/**/WebCrawler/**/img/
/**/WebCrawler/**/video*/
/**/WebCrawler/**/*.zip
/**/WebCrawler/**/*.rar

# Redis/
Redis/**/*.zip

/**/node_modules
